.left-section {
    position: fixed;
    width: 300px;
    height: 100vh;
    left:0;
    top:0;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-right: 1px solid rgb(238, 238, 238);
}
.left-sec{
    
}
.author {
    padding-top: 30px;
}

.irem-photo {
    width: 25%;
    border-radius: 50%;
    border: 3px solid #A5A6FF;
}

.big-irem {
    font-family: 'Kristi', cursive;
    font-family: 'Neucha', cursive;
    color: rgba(19, 15, 73, 0.07);
    font-size: 40px;
    font-style: italic;
    position: relative;
    margin: 0 auto;
}

.small-irem {
    position: absolute;
    font-family: 'Inter', sans-serif;
    color: #130F49;
    font-weight: bold;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1px;
    white-space: nowrap;
    font-size: large;
    font-style: normal;
}

.sections-filter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.left-menu {
    color: #5F5C84;
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;

}
.left-menu>li>a{
    color: #5F5C84
}
.left-menu>li>a:hover{
    cursor: pointer;
    color:#A5A6FF;
}
.left-menu>li>a.active{
    color:#A5A6FF
}
.left-menu>li {
    padding-bottom: 18px;
    text-align: center;
}

.left-menu>li:last-child {
    padding: 0;
}
.copyright {
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}